@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 't3';
        src: url('/src/assets/fonts/T3-Regular.woff2') format('woff2'),
            url('/src/assets/fonts/T3-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 't3-retouch';
        src: url('/src/assets/fonts/t3-retouch-Regular.woff2') format('woff2'),
            url('/src/assets/fonts/t3-retouch-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'mediasans-regular';
        src: url('/src/assets/fonts/mediasansweb-regular.woff2') format('woff2'),
            url('/src/assets/fonts/mediasansweb-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}